body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.modal-content{
  background-color: #4895EF;
  border-radius: 14px;
  color: white;
}

.modal-header{
  border-bottom: none;
}

.modal-title{
  margin-left: 10rem;
}

.modal-body{
  align-self: center;
}

.modal-footer{
  border-top: none;
  align-self: center;
}