.cards_general{
    margin-top: 3%;
    width: 240px;
    height: 450px;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 14px;
    background-color: rgb(245, 245, 245);
    text-align: center;
    line-height: 0;
    border: 1px solid ;
    border-color: #707070;
    box-shadow: 0px 3px 8px rgb( 0, 0, 0, 0.4 );
}


hr{
    width: 90%;
    background: #8fbcf2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.botton_Edit1{
    margin-bottom: 20px;
    background-color: #0899BA;
    width: 90%;
    height: 25px;
    border-radius: 10px;
    cursor: pointer;
   line-height: 0;
    color: #fff;
    box-shadow: 0 0  10px rgba(51, 141, 201, 0.5);
}
.imgaeq{
    width: 25px;
    height: 25px;
    border-radius: 60%;
    margin-top: -60px;
    margin-left: 220px;

}

.inputEditModalNewTask{
    box-shadow: 0px 3px 6px rgb(0, 0, 0, 0.26);
    width: 324px;
    height: 40px;
    border-radius: 12px;
    border: none;
}

.textareaEditModalNewTask{
    box-shadow: 0px 3px 6px rgb(0, 0, 0, 0.26);
    width: 324px;
    min-height: 125px;
    max-height: 125px;
    border-radius: 12px;
    border: none;
}

.btnEditModalSaveNewTask{
    border-radius: 22px;
    background-color: #0899BA;
    width: 182px;
    height: 43px;
    cursor: pointer;
    border: none;
    box-shadow: 0px 3px 6px rgb(0, 0, 0, 0.26);
}

.btnEditModalSaveNewTask:hover{
    background-color: rgb(8, 153, 186, 60%);
}