.containerEditPro{
    background: rgb(121, 121, 121, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.modalEditPro{
    background-color: #86abc2;
    width: 788px;
    height: 493px;
    border-radius: 40px;
}

.divP1EditPro{
}

.divP2EditPro{
}