.contenido8{
    background-color: #e4e4e4;
    width: 100%;
    height: 90vh;
}

.iconos_grid{
    font-size: 30px;
    color: #0899BA;   
}

.iconos_grid1{
    font-size: 30px;
    color: #0899BA;
    text-align: right; 
}
.cards_project{
    position: absolute;
    display: flex;
    top: 12%; 
    width: 85%;
    height: 390px; 
    margin-left: auto;
    margin-right: auto;
     
}

.icono_mas{
    height: 60px;
    font-size: 40px;
    text-align: center;
    color: #0899BA;
}

.contenido_new2{
    margin-top: 60%;
    height: 80px;
}