
.sildebar1{
    width: 200px;
    height: 430px;
    background-color: rgb(252, 252, 252);
    border-radius:5px 20px 20px 5px;
    text-align: center;
    padding-top: 30px;
    cursor: pointer;
    margin-top: 10px;
    
}
.subtitulo::after {
    content: "";
    display: inline-block;
    height: 1px;
    width: 90%;
    background: #8fbcf2;
    position: relative;
    top: -29px;
    z-index: 1;
}
.off{
    width: 35px;
    height: 35px;
    margin-top:70px ;
    cursor: pointer;
}
.links_sidebar{
   color: #000000; 
   box-sizing: border-box;
   border-radius: 5px;
   text-decoration: none;
   transition: 0.5s;
   transition-property: all;
}
.links_sidebar:hover{
    background: #8fbcf2 ;
    text-decoration: none;
}
.links_sidebar1{
    color: #000000; 
    box-sizing: border-box;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.5s;
    transition-property: all;
 }
 .links_sidebar:hover{
     background: #8fbcf2 ;
     text-decoration: none;
 }
 .links_sidebar i{
     padding-right: 10px;
 }