.contenido_Sidebar{
    background-color: white;
}
.sidebar1{
    
    text-align: center;
}
.subtitulo::after {
    content: "";
    display: inline-block;
    height: 1px;
    width: 90%;
    background: #8fbcf2;
    position: relative;
    top: -29px;
    z-index: 1;
}
.off{
    width: 35px;
    height: 35px;
    margin-top:20px ;
    margin-bottom:20px ;
    cursor: pointer;
}
.links_sidebar{
   color: #000000; 
   box-sizing: border-box;
   border-radius: 5px;
   text-decoration: none;
   transition: 0.5s;
   transition-property: all;
   cursor: pointer;
}
.links_sidebar:hover{
    background: #8fbcf2 ;
    text-decoration: none;
}

 .links_sidebar:hover{
    background: #8fbcf2 ;
    text-decoration: none;
 }
 .links_sidebar i{
    padding-right: 10px;
 }
 .imgavatar{
     border-radius: 50px;
 }

.colorUserName{
    color: #000000;
}

.logoutGoogle{
    border: none;
    background-color: white;
}